<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text text-center">
                        <h5>Follow on Facebook</h5>
                        <br>
                        <a class="social-media-image" href="https://www.facebook.com/ScottForLMPC"><img src="/img/facebook.svg" height="50" width="50" alt="Facebook"></a>
                        <br>
                    </div>
                </div>
                <div class="col-12 d-md-none">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <a href="/legal/cookies/">Cookies</a>
                </div>
                <div class="col-6 text-center">
                    <a href="/legal/terms/">Terms</a>
                </div>
            </div>
        </div>
    </div>
</footer>