<nav>
    <div class="row nav-top">
        <div class="col-6 d-md-none">
            <a href="/" class="no-underline">
                <img class="img-fluid" style="height: 80px;" height="80" width="80" src="/img/vote-scott.png" alt="Vote Scott">
                <!-- <span style="font-size: 1.2rem;">Scott Powell<br />for LMPC</span> -->
            </a>
        </div>
        <div class="col text-right">
            <button class="vtoggler-control navbar-toggler no-border p-0" type="button">
                <img src="/img/menu.png" height="18" width="40" alt="Menu">
            </button>
        </div>
    </div>
    <div class="row nav-bottom align-items-end d-none d-md-flex">
        <div class="col-4 col-md-4">
            <a href="/" class="no-underline">
                <!-- <span style="font-size: 2rem;">Scott Powell<br />for LMPC</span> -->
                <img class="img-fluid" src="/img/vote-scott.png" height="160" width="160" alt="Vote Scott">
            </a>
        </div>
        <div class="col-md-4 d-none d-md-block text-center">
            <span class="tagline">{{ site.tagline }}</span>
        </div>
    </div>
</nav>