<nav>
    <div class="row nav-top">
        <div class="col-6 d-md-none">
            <a href="/" class="no-underline">
                <span style="font-size: 1.2rem;">Scott Powell<br />for LMPC</span>
            </a>
        </div>
        <div class="col text-right">
            <button class="vtoggler-control navbar-toggler no-border p-0" type="button">
                <img src="/img/menu.png" height="18" width="40" alt="Menu">
            </button>
        </div>
    </div>
    <div class="row nav-bottom align-items-end d-none d-md-flex">
        <div class="col-4 col-md-4">
            <a href="/" class="no-underline">
                <span style="font-size: 2rem;">Scott Powell<br />for LMPC</span>
            </a>
        </div>
        <div class="col-md-4 d-none d-md-block text-center">
            <span class="tagline">{{ site.tagline }}</span>
        </div>
    </div>
</nav>