$gradientAngle: 45deg;
$gradientRed: linear-gradient($gradientAngle, #f11444, #f52653);
$gradientOrange: linear-gradient($gradientAngle, #f38b02, #fa9e25);
$gradientDeepRed: linear-gradient($gradientAngle, #b30606, #f02020);
// $gradientBurntOrange: linear-gradient($gradientAngle, rgb(221, 64, 2), rgb(221, 92, 6));
$gradientBurntOrange: linear-gradient($gradientAngle, #e05d06, #dd5c06);

$bgColorNameList: "red", "orange", "deepred", "burntorange";
$bgColorList: $gradientRed, $gradientOrange, $gradientDeepRed, $gradientBurntOrange;

@for $i from 1 through length($bgColorNameList) {
    .panel-#{nth($bgColorNameList, $i)} {
        background-image: #{nth($bgColorList, $i)};
    }
}